<%-include('partials/header.ejs') %>
<p style="display:none" id='roomID'><%=roomID%></p>
<p style="display:none" id='username'><%=username%></p>
<p style="display:none" id='_id'><%=_id%></p>
<!-- <div id="alert" class="px-3"></div> -->

<div data-bs-theme="dark" id="main">

    <div id="btns" class="">

       
        
        <!-- joinRoom -->
        <div class="modal fade" id="joinRoom" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">پیوستن به اتاق</h5>
                        <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body row justify-content-center">
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">شناسه اتاق</div>
                            </div>
                            <input type="text" dir="auto" class="roomNameInput form-control" id="joinRoomName" placeholder="Room id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-primary submitBtn" data-bs-dismiss="modal" >پیوستن</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- createRoom -->
        <div class="modal fade" id="createRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ساخت اتاق</h5>
                        <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body row justify-content-center">
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">نام اتاق</div>
                            </div>
                            <input type="text" class=" roomNameInput form-control" id="createRoomName" placeholder="Room name">
                        </div>
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">اعضا اتاق</div>
                            </div>
                            <input type="text" class=" roomMembersInput form-control" id="createRoomMembers" placeholder="Room members">
                        </div>
                        <p class="text-muted">
                            اگر به یک گروه (2 نفر یا بیشتر) نیاز دارید، بین هر شناسه "،" اضافه کنید
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-primary submitBtn" data-bs-dismiss="modal">ساختن</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="room_modal_div_placement">

        </div>
    </div>
    <div id="mainWrapper" class="container-fluid ">
        
        <div class="row h-100 flex-nowrap">
            <div id="side_contact" class="row m-0 p-0 col-12 gap-1 col-md-4 col-lg-3 border-end hide-scrollbar">
                <div class="position-relative  m-0  col-12 p-0">
                    <!-- Add this before the roomList_ul -->
                    <div class="chat-tabs mb-2">
                        <ul class="nav nav-tabs" id="chatTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups" type="button" role="tab">
                                    <i class="bi bi-people-fill"></i> گروه‌ها
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="private-tab" data-bs-toggle="tab" data-bs-target="#private" type="button" role="tab">
                                    <i class="bi bi-chat-dots-fill"></i> پیام‌های خصوصی
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- Groups Container -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="groups" role="tabpanel">
                            <div class="position-relative m-0 col-12 p-0">
                                <div class="row col-12 pb-2 g-3 mt-0 gap-2 m-auto justify-content-center position-sticky top-0 backdrop-blur-chat-bg z-1">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-search"></i></div>
                                            <input placeholder="جستجوی گروه‌ها..." id="search_groupList" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-theme">
                                    <ul class="list-group px-1 container rounded overflow-y-auto overflow-x-hidden hide-scrollbar" id="groupList_ul">
                                        <!-- dynamically inserted groups -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="private" role="tabpanel">
                            <div class="position-relative m-0 col-12 p-0">
                                <div class="row col-12 pb-2 g-3 mt-0 gap-2 m-auto justify-content-center position-sticky top-0 backdrop-blur-chat-bg z-1">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-search"></i></div>
                                            <input placeholder="جستجوی کاربران... (با @ شروع کنید)" id="search_privateList" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-theme">
                                    <!-- Users Search Results -->
                                    <div id="userSearchResults" class="d-none">
                                        <div class="px-2 py-1 bg-light border-bottom">
                                            <small class="text-muted">نتایج جستجوی کاربران</small>
                                        </div>
                                        <ul class="list-group px-1 container rounded overflow-y-auto overflow-x-hidden hide-scrollbar" id="userSearchList_ul">
                                        </ul>
                                    </div>
                                    <!-- Private Chats List -->
                                    <ul class="list-group px-1 container rounded overflow-y-auto overflow-x-hidden hide-scrollbar" id="privateList_ul">
                                        <!-- dynamically inserted private chats -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Floating Action Button for New Chat -->
                    <div class="dropdown col-auto position-fixed bottom-0 p-0 m-1">
                        <button class="btn btn-meta col-auto rounded-circle" type="button" data-bs-toggle="dropdown">
                            <i class="fs-5 bi bi-plus-lg"></i>
                        </button>
                        <div class="dropdown-menu row gap-5 col-auto bg-transparent border-0" aria-labelledby="dropdownMenuButton">
                            <div class="col-12 my-2">
                                <button class="btn text-start m-auto btn-meta animate__animated animate__fadeInUp col-auto rounded-5" data-bs-toggle="modal" data-bs-target="#joinRoom">
                                    <i class="fs-5 bi bi-door-open"></i> پیوستن به گروه
                                </button>
                            </div>
                            <div class="col-12 my-2">
                                <button class="btn text-start m-auto btn-meta animate__animated animate__fadeInUp col-auto rounded-5" data-bs-toggle="modal" data-bs-target="#createRoom">
                                    <i class="fs-5 bi bi-cloud-plus"></i> ساختن گروه
                                </button>
                            </div>
                            <div class="col-12 my-2">
                                <button class="btn text-start m-auto btn-meta animate__animated animate__fadeInUp col-auto rounded-5" id="newPrivateChatBtn">
                                    <i class="fs-5 bi bi-chat-plus"></i> پیام خصوصی جدید
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for selecting user to start private chat -->
                    <div class="modal fade" id="selectUserModal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">انتخاب کاربر برای پیام خصوصی</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control mb-3" id="userSearchInput" placeholder="جستجوی کاربر...">
                                    <ul class="list-group" id="userSelectList">
                                        <!-- Users will be listed here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT LIST (Sidebar) -->


            <!-- CHAT WINDOW -->
            <div id="chatArea" class="col d-flex flex-column m-0 h-100 pb-2 overflow-hidden position-relative">
                
                <div id="chat-window" class="flex-grow-1 d-flex flex-column h-100 flex-nowrap hide-scrollbar position-relative">
                    <div id='roomInfo' class='row col-12 justify-content-between overflow-x-auto hide-scrollbar position-sticky z-2 top-0'></div>
            
                    <!-- <div id="alert" dir="auto" style=" text-align: center;"></div> -->
                    <div id="headTag" class="col-12 z-1 row mx-auto position-sticky top-0 "  dir="auto" ></div>
                    <div id="output" class="px-1 mt-1 position-relative  container rounded overflow-y-auto overflow-x-hidden hide-scrollbar">
                        <p class="m-auto">
                           . اگر براتون رو بارگیری مانده است. لینک زیر رو صدا برنید و دسترسی بدهید
                        </p>
                        <a href="https://mc.farahoosh.ir:4000" target="_blank" class="btn btn-lg px-5 col-autp m-auto">لینک زیر</a>
                    </div>            
            
                </div>
            
                <div id="chat_windowFooter" class="col-12 position-sticky bottom-0 row gap-2 col-md-auto p-0 mb-1 m-auto">
                    <div class="col-12 row gap-1 mx-auto">
                        <div class="col-sm-12 col-md-auto m-auto">
            
                            <button id="down" class="btn rounded-circle animate__animated animate__zoomIn" style="display: none;">
                                <strong><i class="bi bi-arrow-down"></i></strong>
                                <span id="notifCount" class="btn btn-danger">0</span>
                            </button>
                        </div>
                    <!-- reply -->
                        <div class="col-12" style="max-width: inherit;">
                            
                            <div id="file-input_res" class="backdrop-blur-chat-bg col-12 message overflow-x-auto d-none gap-1" style=" align-items: center; padding: 10px; transform: translateY(0px); display: flex; border-radius: 8px;">
                            </div>
                            <div id="form-inline" class='form-inline row m-auto col-12 d-none' style='display:none;     flex-wrap: wrap;'>
                                <div id="replyBox" class="position-absolute shadow pe-5 col-8 message hide d-flex" style=" align-items: center; justify-content: space-between; padding: 10px;">
                                    <h6 style="margin: 0; font-style: italic; font-size: 14px; text-align: start;"></h6>
                                    <div class="col-auto" style="flex: 1; margin-left: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; " id="replyMessageContent">
                                    </div>
                                </div>
            
                                <!-- ------------------ -->
                                <div class="col d-flex messageInputDiv shadow bg-theme rounded-5 py-1 pe-0" style="max-width: inherit;align-items: center;">
                                    <div
                                        id="editable-message-text"
                                        class=" form-control rounded  my-auto allow-selection flexible-div "
                                        contenteditable="true"
                                        role="textbox"
                                        dir="auto"
                                        tabindex="0"
                                        rows="1"
                                        aria-label="Message"
                                        aria-placeholder="پیام دهید ..."
                                        autocomplete="on">
                                    </div>
                                    <div class="button-container col-auto gap-1 d-flex mx-auto">
                                        <button id="file-inputBtn" class="btn rounded-pill btn-color border-0 focus-ring-0 fs-5  file-button message_btn">
                                            <input type="file" accept="" id="file-input" multiple>
                                            <label class="input-label" for="file-input"><i style="    font-size: large;" class="bi text-secondary   bi-paperclip"></i></label>
                                        </button>
                                        <button class="btn  btn btn-primary  rounded-circle send-button message_btn d-none " type="submit" id="button">
                                            <i class="bi bi-send-fill"></i>
                                        </button>
                                        <div id="recordSection" class="  col-auto d-flex">
                                            <!-- در انتهای footer چت (یک مکان مناسب برای دکمه‌های جدید) -->
                                            <div id="recordStatus" class="d-none me-1 gap-1 align-items-center">
                                                <span id="timer" class="text-secondary">00:00.00</span>
                                                <span id="blinker" class="blinker"></span>
                                            </div>
                                            <div id="recordControls" class="d-flex me-1 col-auto m-auto btn-group align-items-center"></div>
                                            <div class="col-auto m-auto overflow-hidden rounded">
            
                                                <!-- دکمه ضبط -->  <button id="recordBtn" class="col-auto animate__animated  btn btn-primary rounded-circle">  <i class="bi bi-mic-fill m-auto"></i> </button>
                                                <!-- دکمه توقف -->  <button id="stopBtn" class="col-auto animate__animated border backdrop-blur shadow text-danger btn   d-none" disabled=""> <i class="bi bi-square-fill m-auto"></i>  </button>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div id="messageMenu">
                    <div class="messageMenuHeader"></div>
                    <div class="messageMenubody"></div>
                </div>
            </div>
        </div>
    </div>


    <script   nonce="<%= nonce %>" src='https://mc.farahoosh.ir/metachat/socket_conn.js'></script>
    <script   nonce="<%= nonce %>" src='https://mc.farahoosh.ir/metachat/chat_v0503.js'></script>
    <script  nonce="<%= nonce %>" src='https://mc.farahoosh.ir/metachat/roomManagement.js' ></script>
    <script  nonce="<%= nonce %>" src="https://mc.farahoosh.ir/metachat/setting.js" ></script>

    <%-include('partials/footer.ejs')%>
        </body>

        </html>
 